<div class="well whiteback">
<div class="jumbotron center belize whiteback">
	<h1>Get Your Home Cleaned</h1>
  <h2>You deserve it, Los Angeles!</h2>


  </br>

	<div>
    <% if user_signed_in? %>
	<button type="button" class="btn btn-default btn-lg"><%= link_to profile_path do %><span class="glyphicon glyphicon-calendar"></span>  Book a Maid Now <% end %></button>
    <% else %>
      <button type="button" class="btn btn-default btn-lg"><%= link_to profile_path do %><span class="glyphicon glyphicon-calendar"></span>  Book a Maid Now <% end %></button>
      <button type="button" class="btn btn-default btn-lg"><%= link_to new_user_registration_path do %><span class="glyphicon glyphicon-user"></span>  Sign Up for 10% off<% end %></button>
      <% end %>
    </div>
  </div>

  <%= link_to safety_path do %>
  <h4 class="text-muted center">&nbsp;&nbsp;&nbsp;&nbsp;Your home is your castle  &nbsp;<span class="glyphicon glyphicon-tower star"></span>&nbsp;  Learn more about our safety</h4>
  <% end %>
</div>

