<div class="panel panel-default starry center belize">
  <div class="panel-body"><strong>
    Happy Valentine's Day, <%= current_user.name %>: Make an appointment before February 14th for $15 off!</strong>
  </div>
</div>