

<h1 class="center cloudtext">Always Simple Pricing</h1>
</br>


<div class="pricing"> 

    <div class="panel">
      <!-- Default panel contents -->
      <div class="panel-heading pricing white center emeraldback"><span class="glyphicon glyphicon-home"></span><strong> Flat Pricing by Home Size</strong></div>
      <div class="panel-body center">


      <!-- List group -->
      <ul class="list-group center">
         <li class="list-group-item cloud belize">1 Bedroom or Studio $120</li>
         <li class="list-group-item belize">2 Bedrooms $140</li>
       <li class="list-group-item cloud belize">3 Bedrooms $160</li>
       <li class="list-group-item belize">4 Bedrooms $190</li>
       <li class="list-group-item cloud belize">5 Bedrooms $220</li>
       <li class="list-group-item belize">6 Bedrooms $250</li>
       <li class="list-group-item cloud belize">Discounts for Regulars</li>
      </ul>

    </div>

  		<div class="panel-heading pricing white center emeraldback"><span class="glyphicon glyphicon-list"></span><strong> Extras</strong></div>
  		<div class="panel-body center">

  		<!-- List group -->
  		<ul class="list-group center">
   			 <li class="list-group-item cloud belize">Clean Inside Cabinets &nbsp;+$20</li>
   			 <li class="list-group-item belize">Clean Inside Fridge &nbsp;+$20</li>
			 <li class="list-group-item cloud belize">Clean Inside Oven&nbsp; +$20</li>
			 <li class="list-group-item belize">Clean Interior Windows &nbsp;+$20</li>
			 <li class="list-group-item cloud belize">Clean Basement Apt. &nbsp;+$80</li>
			 <li class="list-group-item belize">Clean Standard Basement &nbsp;+$20</li>
			 <li class="list-group-item cloud belize">Move In/Out Cleaning &nbsp;+$60</li>
  		</ul>
  </div>
</div>
</div>

















