<h1 class="center white">We Offer Always Simple Pricing</h1>
</br>

<div class="row">
  <div class="col-md-3">


<div class="panel pricingboxwidth">
  <!-- Default panel contents -->
  <div class="panel-heading pricing white center"><strong>Studio or 1 Bedroom</strong></div>
  <div class="panel-body">


  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item cloud belize">1 Time Clean &nbsp;&nbsp;&nbsp;&nbsp;$120</li>
    <li class="list-group-item belize">Monthly Clean&nbsp; &nbsp;&nbsp;$110</li>
    <li class="list-group-item cloud belize">Biweekly Clean &nbsp;&nbsp;$100</li>
  </ul>
  <div class="center">
  <button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-calendar"></span> Book Now</button>
</div>
  </div>
</div>
</div>

<div class="col-md-3">


<div class="panel pricingboxwidth">
  <!-- Default panel contents -->
  <div class="panel-heading pricing white center"><strong>2 Bedroom Home or Apt.</strong></div>
  <div class="panel-body">


  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item cloud belize">1 Time Clean &nbsp;&nbsp;&nbsp;&nbsp;$140</li>
    <li class="list-group-item belize">Monthly Clean&nbsp;&nbsp;&nbsp; $130</li>
    <li class="list-group-item cloud belize">Biweekly Clean &nbsp;&nbsp;$120</li>
  </ul>
  <div class="center">
  <button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-calendar"></span> Book Now</button>
</div>
  </div>
</div>
</div>

<div class="col-md-3">


<div class="panel pricingboxwidth">
  <!-- Default panel contents -->
  <div class="panel-heading pricing white center"><strong>3 Bedroom Home or Apt.</strong></div>
  <div class="panel-body">


  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item cloud belize">1 Time Clean &nbsp;&nbsp;&nbsp;&nbsp;$160</li>
    <li class="list-group-item belize">Monthly Clean&nbsp;&nbsp;&nbsp; $150</li>
    <li class="list-group-item cloud belize">Biweekly Clean &nbsp;&nbsp;$140</li>
  </ul>
  <div class="center">
  <button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-calendar"></span> Book Now</button>
</div>
  </div>
</div>
</div>

<div class="col-md-3">


<div class="panel pricingboxwidth">
  <!-- Default panel contents -->
  <div class="panel-heading pricing white center"><strong>4 Bedroom Home or Apt.</strong></div>
  <div class="panel-body">


  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item cloud belize">1 Time Clean &nbsp;&nbsp;&nbsp;&nbsp;$190</li>
    <li class="list-group-item belize">Monthly Clean&nbsp;&nbsp;&nbsp; $180</li>
    <li class="list-group-item cloud belize">Biweekly Clean &nbsp;&nbsp;$170</li>
  </ul>
  <div class="center">
  <button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-calendar"></span> Book Now</button>
</div>
  </div>
</div>
</div>

</div>





<div class="centering">
<div class="row">

	<div class="col-md-4">


<div class="panel">
  <!-- Default panel contents -->
  <div class="panel-heading pricing white center"><strong>5 Bedroom Home</strong></div>
  <div class="panel-body">


  <!-- List group -->
  <ul class="list-group center">
    <li class="list-group-item cloud belize">1 Time Clean &nbsp;&nbsp;&nbsp;&nbsp;$220</li>
    <li class="list-group-item belize">Monthly Clean&nbsp;&nbsp;&nbsp; $210</li>
    <li class="list-group-item cloud belize">Biweekly Clean &nbsp;&nbsp;$195</li>
  </ul>
  <div class="center">
  <button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-calendar"></span> Book Now</button>
</div>
  </div>
</div>
</div>

	<div class="col-md-4">

		<div class="panel">
  		<!-- Default panel contents -->
  		<div class="panel-heading pricing white center"><span class="glyphicon glyphicon-list"></span><strong> Time Intensive Extras</strong></div>
  		<div class="panel-body center">


  		<!-- List group -->
  		<ul class="list-group center">
   			 <li class="list-group-item cloud belize">Clean Inside Cabinets &nbsp;+$20</li>
   			 <li class="list-group-item belize">Clean Inside Fridge &nbsp;+$20</li>
			 <li class="list-group-item cloud belize">Clean Inside Oven&nbsp; +$20</li>
			 <li class="list-group-item belize">Clean Interior Windows &nbsp;+$20</li>
			 <li class="list-group-item cloud belize">Clean Basement Apt. &nbsp;+$80</li>
			 <li class="list-group-item belize">Clean Standard Basement &nbsp;+$20</li>
			 <li class="list-group-item cloud belize">Move In/Out Cleaning &nbsp;+$60</li>
  		</ul>
  </div>
</div>
</div>

<div class="col-md-4">


<div class="panel">
  <!-- Default panel contents -->
  <div class="panel-heading pricing white center"><strong>6 Bedroom Home</strong></div>
  <div class="panel-body">


  <!-- List group -->
  <ul class="list-group center">
    <li class="list-group-item cloud belize">1 Time Clean &nbsp;&nbsp;&nbsp;&nbsp;$250</li>
    <li class="list-group-item belize">Monthly Clean&nbsp;&nbsp;&nbsp; $235</li>
    <li class="list-group-item cloud belize">Biweekly Clean &nbsp;&nbsp;$220</li>
  </ul>
  <div class="center">
  <button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-calendar"></span> Book Now</button>
</div>
  </div>
</div>
</div>

</div>

</div>







