<div class=" well narrowwell ">

	<div class="jumbotron center belize narrow">
		<h1>MaidPing Safety</h1>
    	<p class="text-muted">Your safety and your home's safety is our #1 priority. We take safety very seriously and factor it in to everything we do.</p>

	</div>

</div>

<div class="jumbotron center belize narrow tile">
	<h2><span class="glyphicon glyphicon-ok-sign"></span> Maid Selection Process</h2>

    	<h3 class="emerald"><span class="glyphicon glyphicon-search"></span> Background Checks<h3>
    	<h4 class="text-muted"><span class="glyphicon glyphicon-check text-muted"></span> No Criminal Records. Period.</h4>
    	<h4 class="text-muted"><span class="glyphicon glyphicon-check text-muted"></span> No theft</h4>
    	<h4 class="text-muted"><span class="glyphicon glyphicon-check text-muted"></span> No drug offenses</h4>
    	<h4 class="text-muted"><span class="glyphicon glyphicon-check text-muted"></span> No sexual or violent offenses</h4>	
    	<h4 class="text-muted"><span class="glyphicon glyphicon-check text-muted"></span> No property damage or vandalism</h4>
    	<h4 class="text-muted"><span class="glyphicon glyphicon-check text-muted"></span> All maids legal to work in the USA</h4>
    	<h4 class="text-muted"><span class="glyphicon glyphicon-check text-muted"></span> Two references required and checked</h4>

	</br>

    	<h3 class="emerald"><span class="glyphicon glyphicon-thumbs-up"></span> Face to Face Interviews<h3>
    	<h4 class="text-muted"><span class="glyphicon glyphicon-check text-muted"></span> We only hire friendly people</h4>
    	<h4 class="text-muted"><span class="glyphicon glyphicon-check text-muted"></span> Our maids can communicate well</h4>	
    	<h4 class="text-muted"><span class="glyphicon glyphicon-check text-muted"></span> We hire people we want to invite into our homes</h4>

    </br>

    	<h3 class="emerald"><span class="glyphicon glyphicon-dashboard"></span> Strong Ongoing Selection<h3>
    	<h4 class="text-muted"><span class="glyphicon glyphicon-check text-muted"></span> Maids have their work inspected</h4>
    	<h4 class="text-muted"><span class="glyphicon glyphicon-check text-muted"></span> Every single cleaning job is rated by you</h4>
    	<h4 class="text-muted"><span class="glyphicon glyphicon-check text-muted"></span> Maids must maintain a 4.25+ star rating (out of 5 stars)</h4>

    </br>

    	<h2><span class="glyphicon glyphicon-lock"></span> Additional Protections</h2>	
    	<h4 class="text-muted"><span class="glyphicon glyphicon-check text-muted"></span> All maids bonded and insured</h4>
    	<h4 class="text-muted"><span class="glyphicon glyphicon-check text-muted"></span> Insurance policy covers $2,000,000 in damage</h4>

</br>
    
    <h2><span class="glyphicon glyphicon-heart"></span> We Treat Our Maids With Respect</h2>	
    <h4 class="text-muted"><span class="glyphicon glyphicon-check text-muted"></span> We pay a liveable wage</h4>
    <h4 class="text-muted"><span class="glyphicon glyphicon-check text-muted"></span> We treat our maids fairly</h4>
    <h4 class="text-muted"><span class="glyphicon glyphicon-check text-muted"></span> Maids keep any and all tips</h4>
    <h4 class="text-muted"><span class="glyphicon glyphicon-check text-muted"></span> We are building a friendly community</h4>

</div>




