<h1 class="center cloudtext">We clean anywhere around Los Angeles</h1>

<div class="jumbotron center narrow2">
<img class="img-rounded img-thumbnail" <%= image_tag "lamap.png"%>

</br>
</br>

<button type="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-calendar"></span> Book Now</button>
</div>
