<p id="notice"><%= notice %></p>

<p>
  <strong>Your Next Cleaning:</strong>
  <%= @cleaning.schedule %>
</p>

<%= link_to 'Edit', edit_cleaning_path(@cleaning) %> |
<%= link_to 'Back', cleanings_path %>
